.todolist-container{
 width: 50%;
 min-height: 500px;
  background: #ffffff;
  border-radius: 4px;
   margin: 100px auto;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  
}
.todolist-container .delete-button{
    cursor:pointer;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 1.6px;
 
    right:5px;
}
.todolist-container .delete-button:hover{
    opacity: 0.9;
}

.todolist-container h1{
    text-align: center;
}
.todolist-container .newtask{
    width:95%;
    padding:5px;
    
}
.todolist-container .newtask input{
    padding:10px;
    width:80%;
    margin-right: 5px;
    border-radius:5px;
}
.todolist-container .newtask-button{
    width:50px;
    font-size: larger;
    height: 50px;
}
.tasks{
    padding: 5px;
}
.task{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap:10px;
    margin-top: 10px;
    padding: 10px;
    max-width: 95%;
    
    
}
.task.text{
    font-size: 16px;
    flex:1;
    line-height: 1.6px;
    overflow: wrap;
    max-width: 80%;
    text-wrap: wrap;
    text-align: left;
    
}
.task p.done{
    text-decoration: line-through;
    color: grey;
}
.todolist-container .delete-button{
background-color: rgb(224, 114, 114);
}
@media (max-width:375px) {
    .todolist-container {
        min-width: 95%;
        padding: 2px;
    }

    .text p {
        font-size: 16px;

    }

    .todolist-container.newtask-button {

        width: 30px;
        font-size: 15px;
        height: 30px;
    }

    .todolist-container .delete-button {
        font-size: smaller;
       
    }

    .todolist-container .newtask input {

        width: 75%;
    }
}




