* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {

    min-height: 60vh;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   

}

a {
    all: unset;
    cursor: pointer;
}

button {
    background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
    border-radius: 9px;

    color: #ffffff;

    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 0;
}

@media (max-width:600px) {
    .container {
        width: 95%;
        margin: 30px auto;
        padding: 10px;

    }
}

@media (min-width:1200px) {
    .container {
        width: 50%;


        margin: 100px auto;
        padding: 20px 60px;



    }

}

@media (max-width:1199px) and (min-width:601px) {
    .container {
        width: 70%;


        margin: 50px auto;
        padding: 20px 20px;
    }
}

/*  fade ani mation for both memory game and quiz results */
.fade-animation{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}